*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
}
img{
    display: block;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
}
.a-block{
    color: red;
}
.oul li.current{
    background-color: pink;
}
.top-bar{
    height: 194px;
    position: relative;

    .top-notice{
        height: 30px;
        
        background:#0e0e0f;
        #small2{
            position: absolute;
            top: 3px;
            left: 15px;
        }      
    }


    .top-fk{
    height: 30px;
    background: #141415;
    ul{
        margin-top: 0;
        width: 1240px;
        height: 30px;
        left: 50px;
        overflow: hidden;
        //margin: 0 auto;
       position: absolute;

        
             li{
                 height: 30p;
                line-height: 30px;
                font-size: 14px;
                color: #a7a7a7;
                white-space: nowrap;

                a{
                    color: #a7a7a7;
                }
            }
    }
    }
    .top-info{
    //position: absolute;
    height: 100px;
    background: #0e0e0f;
    .log-1{
       // background: red;
        width: 1280px;
        height: 99px;
        margin: 0 auto;
        .small-log{
            width: 148px;
            height: 79px;
            margin-left: 20px;
            overflow: hidden;
            //background: blue;
            float: left;
           background: url("../images/ico-comm.png") no-repeat -180px 1px;
        }
        .small-log2{
            width: 172px;
            height: 34px;
            background: pink;
            margin-left: 20px;
            margin-top: 25px;
            float: left;
            overflow: hidden;
            background: url("../images/ico-comm.png") no-repeat -4px -29px;
        }
        .shop-car{
            margin-top: 47px;
            width: 110px;
            line-height: 24px;
            font-size: 16px;
            float: right;
            position: relative;
            .shop-log{
                margin-right: 7px;
                display: block;
                width: 24px;
                height: 24px;
                background: url("../images/ico-comm.png") no-repeat 0px -62px;
                position: absolute;

            }
            .shop{
                line-height: 24px;
                font-size: 16px;
                color: #f6f7ef;
                //float: right;
                position: absolute;
                right: 32px;
            }
            .shop-con{
                width: 24px;
                height: 24px;
                border-radius: 50%;
                background: #ffc933;
                color: #333;
                font-size: 14px;
                text-align: center;
                float: right;
            }
           
        }
        .login{
            width: 107px;
            height: 60px;
            line-height: 40px;          
            margin-top: 39px;
            margin-right: 20px;
            float: right;
            text-align: right;
            a{
                font-size: 16px;
                color: #a7a7a7;
            }
        }
        .search{
            position: relative;
            width: 240px;
            height: 40px;
            background: #242424;
            border-radius: 20px;
            position: relative;
            float: left;
            font-size: 16px;
            color: #f6f7ef;
            float: right;
            margin-top: 40px;
            .search-log{
                display: block;
                width: 16px;
                height: 17px;
                font-size: 12px;
                background: url("../images/ico-comm.png") no-repeat -80px -2px;
                position: absolute;
                top: 12px;
                left: 10px;
            }
            .search-in{
                margin-left: 33px;
                width: 205px;
                height: 40px;
                line-height: 40px;
                font-size: 16px;
                border: none;
                outline:none;
                background: none;
                color: #aaa;
                padding: 0;
            }
        }
    }
    
    }

    .top-menu{
        height: 64px;
        background: #0e0e0f;
        .top-bom{
            width: 1280px;
            margin: 0 auto;
            height: 64px;
            ul{
                width: auto;
                height: 100%;
                float: left;
                li{
                    float: left;
                    width: 129px;
                    height: 100%;
                    line-height: 64px;
                    a{
                        display: block;
                        width: 100%;
                        height: 100%;
                        color: #a6a6a6;
                        font-size: 18px;
                        text-align: center;
                        background-position: 130px 64px;
                        &:hover{
                            background: url("../images/ico-comm.png") no-repeat -30px -85px;
                        }
                    }
                }
            }
        }
        .all-shops{
            width: auto;
            height: 100%;
            line-height: 64px;
            font-size: 16px;
            color: #fff;
            float: right;
            span{
                line-height: 64px;
                font-size: 16px;
                color: #fff;
            }
            .all-log{
                margin-left: 7px;
                display: inline-block;
                width: 10px;
                height: 12px;
                background: url('../images/ico-comm.png') no-repeat -100px -2px;             
            }
            &:hover{
                .all-log{
                    background: url('../images/ico-comm.png') no-repeat -66px -2px;
                }
            }
        }
    }
    .top-submenu {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 100;
        width: 100%;
        background: #fff;
        height: auto;
        -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.03);
        box-shadow: 0 5px 10px rgba(0,0,0,0.03);
       display: none;
        .mid {
            width: 1280px;
            margin: 0 auto;
            position: relative;
        }
            .submenu-ul{
                display: table;
                margin: 25px auto 0;
                padding-bottom: 20px;
                background: #fff;
        }
            .submenu-li{
                padding: 0 10px;
                width: 80px;
                text-align: center;
                height: auto;
                display: table-cell;   
        }
            .class-name{
                margin: 0 auto;
                display: block;
                width: 80px;
                height: 80px;
                border-bottom: 4px solid #e3e3e3;       
        }
            img{
                display: table;
                margin: 0 auto;
                padding-bottom: 20px;
                border: 0;            
        }
        p{
            line-height: 18px;
            font-size: 16px;
            color: #333;
            font-weight: bold;
        }
        .class-list{
            margin-top: 15px;
            li{
                line-height: 30px;
                font-size: 14px;
                color: #333;
                text-align: center;
                a{
                    line-height: 30px;
                    font-size: 14px;
                    color: #333;
                    text-align: center;
                }
            }
        }
    }
}


// banner图
.bann{
    margin: 0 auto;
    min-height: 346px;
    height: auto;
    min-width: 1240px;
    width: 100%;
    overflow: hidden;
    .slidebann {
        margin: 0 auto;
        min-height: 346px;
        height: auto;
        min-width: 1240px;
        width: 100%;
        overflow: hidden;
        clear: both;
        position: relative;
        background: #202020;
        padding: 0;
    
        a {    
            margin: 0 auto;
            min-height: 346px;
            height: auto;
            min-width: 1240px;
            width: 100%;
            display: none;     
            img {
                margin: 0 auto;
                min-height: 346px;
                height: auto;
                min-width: 1240px;
                width: 100%;
                vertical-align: bottom;
                font-size: 0;
                border: 0;
                //display: none;    
            }   
        }
        
    }
    .oul{
        position: absolute;
        right: 635px;
        bottom: 25px;
        width: 190px;
        li{
            float: left;
            width: 20px;
            height: 20px;
            margin: 0 5px;
            text-align: center;
            border-radius: 50%;
            cursor: pointer;
            background-color: #abc;
        }
    }
}