*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
}
img{
    display: block;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
}

.oul li.current{
    background-color: pink;
}
.top-bar{
    height: 194px;
    position: relative;

    .top-notice{
        height: 30px;
        
        background:#0e0e0f;
        #small2{
            position: absolute;
            top: 3px;
            left: 15px;
        }      
    }


    .top-fk{
    height: 30px;
    background: #141415;
    ul{
        margin-top: 0;
        width: 1240px;
        height: 30px;
        left: 50px;
        overflow: hidden;
        //margin: 0 auto;
       position: absolute;

        
             li{
                 height: 30p;
                line-height: 30px;
                font-size: 14px;
                color: #a7a7a7;
                white-space: nowrap;

                a{
                    color: #a7a7a7;
                }
            }
    }
    }
    .top-info{
    //position: absolute;
    height: 100px;
    background: #0e0e0f;
    .log-1{
       // background: red;
        width: 1280px;
        height: 99px;
        margin: 0 auto;
        .small-log{
            width: 148px;
            height: 79px;
            margin-left: 20px;
            overflow: hidden;
            //background: blue;
            float: left;
           background: url("../images/ico-comm.png") no-repeat -180px 1px;
        }
        .small-log2{
            width: 172px;
            height: 34px;
            background: pink;
            margin-left: 20px;
            margin-top: 25px;
            float: left;
            overflow: hidden;
            background: url("../images/ico-comm.png") no-repeat -4px -29px;
        }
        .shop-car{
            margin-top: 47px;
            width: 110px;
            line-height: 24px;
            font-size: 16px;
            float: right;
            position: relative;
            .shop-log{
                margin-right: 7px;
                display: block;
                width: 24px;
                height: 24px;
                background: url("../images/ico-comm.png") no-repeat 0px -62px;
                position: absolute;

            }
            .shop{
                line-height: 24px;
                font-size: 16px;
                color: #f6f7ef;
                //float: right;
                position: absolute;
                right: 32px;
            }
            .shop-con{
                width: 24px;
                height: 24px;
                border-radius: 50%;
                background: #ffc933;
                color: #333;
                font-size: 14px;
                text-align: center;
                float: right;
            }
           
        }
        .login{
            width: 107px;
            height: 60px;
            line-height: 40px;          
            margin-top: 39px;
            margin-right: 20px;
            float: right;
            text-align: right;
            a{
                font-size: 16px;
                color: #a7a7a7;
            }
        }
        .search{
            position: relative;
            width: 240px;
            height: 40px;
            background: #242424;
            border-radius: 20px;
            position: relative;
            float: left;
            font-size: 16px;
            color: #f6f7ef;
            float: right;
            margin-top: 40px;
            .search-log{
                display: block;
                width: 16px;
                height: 17px;
                font-size: 12px;
                background: url("../images/ico-comm.png") no-repeat -80px -2px;
                position: absolute;
                top: 12px;
                left: 10px;
            }
            .search-in{
                margin-left: 33px;
                width: 205px;
                height: 40px;
                line-height: 40px;
                font-size: 16px;
                border: none;
                outline:none;
                background: none;
                color: #aaa;
                padding: 0;
            }
        }
    }
    
    }

    .top-menu{
        height: 64px;
        background: #0e0e0f;
        .top-bom{
            width: 1280px;
            margin: 0 auto;
            height: 64px;
            ul{
                width: auto;
                height: 100%;
                float: left;
                li{
                    float: left;
                    width: 129px;
                    height: 100%;
                    line-height: 64px;
                    a{
                        display: block;
                        width: 100%;
                        height: 100%;
                        color: #a6a6a6;
                        font-size: 18px;
                        text-align: center;
                        background-position: 130px 64px;
                        &:hover{
                            background: url("../images/ico-comm.png") no-repeat -30px -85px;
                        }
                    }
                }
            }
        }
        .all-shops{
            width: auto;
            height: 100%;
            line-height: 64px;
            font-size: 16px;
            color: #fff;
            float: right;
            span{
                line-height: 64px;
                font-size: 16px;
                color: #fff;
            }
            .all-log{
                margin-left: 7px;
                display: inline-block;
                width: 10px;
                height: 12px;
                background: url('../images/ico-comm.png') no-repeat -100px -2px;             
            }
            &:hover{
                .all-log{
                    background: url('../images/ico-comm.png') no-repeat -66px -2px;
                }
            }
        }
    }
    .top-submenu {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 100;
        width: 100%;
        background: #fff;
        height: auto;
        -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.03);
        box-shadow: 0 5px 10px rgba(0,0,0,0.03);
       display: none;
        .mid {
            width: 1280px;
            margin: 0 auto;
            position: relative;
        }
            .submenu-ul{
                display: table;
                margin: 25px auto 0;
                padding-bottom: 20px;
                background: #fff;
        }
            .submenu-li{
                padding: 0 10px;
                width: 80px;
                text-align: center;
                height: auto;
                display: table-cell;   
        }
            .class-name{
                margin: 0 auto;
                display: block;
                width: 80px;
                height: 80px;
                border-bottom: 4px solid #e3e3e3;       
        }
            img{
                display: table;
                margin: 0 auto;
                padding-bottom: 20px;
                border: 0;            
        }
        p{
            line-height: 18px;
            font-size: 16px;
            color: #333;
            font-weight: bold;
        }
        .class-list{
            margin-top: 15px;
           
            li{
                line-height: 30px;
                font-size: 14px;
                color: #333;
                text-align: center;
                a{
                    line-height: 30px;
                    font-size: 14px;
                    color: #333;
                    text-align: center;
                }
            }
            a.ablock{
                color: red;
            }
        }
    }
}


// banner图

.wrap {
    margin: 0 auto;
    min-height: 346px;
    height: auto;
    min-width: 1240px;
    width: 100%;
    position: relative;
    overflow: hidden;
    img {
        margin: 0 auto;
        min-height: 346px;
        height: auto;
        min-width: 1240px;
        width: 100%;
        font-size: 0;
        border: 0;
        display: block;
    }
    ul {
        height: auto;
        z-index: 1;
        position: relative;
        li {
            position: absolute;
            top: 0;
            left: 1349px;
        }
    }
    ol {
        height: 30px;
        z-index: 2;
        position: absolute;
        bottom: 15px;
        right: 617px;
        li {
            float: left;
            width: 30px;
            height: 3px;
            border-radius: 3px;
            border: 1px solid white;
            background: #a7a7a7;
            margin-right: 5px;
            &:hover{
                cursor: pointer;
            }
        }
    }
    li.active {
        padding: 2px;
        background: orange;
        margin-top: -4px;
        border: 1px solid orange;
    }
}

// 中间部分
.min-index{
   overflow: hidden;
    padding-bottom: 50px;
    background:#fff;
    border-radius: 8px;
    position: relative;
    width: 1280px;
    margin: 0 auto;
    margin-top: -30px;
    z-index: 99;
    .min-tit{
        padding: 50px 50px 0;
        line-height: 32px;
        font-size: 14px;
        h3{
            margin-right: 20px;
            display: inline-block;
            font-weight: bold;
            color: #333;
            font-size: 28px;
            line-height: 32px;
        }
        span{
            line-height: 32px;
            font-size: 14px;
        }
        .min-more{
            font-size: 16px;
            color: #333;
            float: right;
            line-height: 30px;
            .i-comm{
                margin-top: -4px;
                display: inline-block;
                width: 20px;
                height: 20px;
                background-position: -42px -2px;
                vertical-align: middle;
                background: url("../images/ico-comm.png") no-repeat -42px -2px;
            }
        }
    }
    .min-list{
        margin: 20px auto 5px;
        width: 1200px;
        overflow: hidden;
        padding-bottom: 0;
        ul{
            height: auto;
            li{
                margin: 0 10px;
                float: left;
                width: 280px;
                height: 375px;
                position: relative;
                overflow: hidden;
                margin-bottom: 0;
                z-index: 1;
               
                .link{
                    display: block;
                    -webkit-transition: all .2s linear;
                    transition: all .2s linear;
                    img{
                        border:0;
                        
                        .avtive{
                            box-shadow: 20px 20pxpx 3px black;
                        }
                    }
                }
            }
        }
        
    }
    .index-glist{
        padding-top: 20px;
        padding-bottom: 0;
        background: #fff;
        overflow: hidden;
        .clearfix{
            margin-left: 40px;
            width: 1200px;
            height: auto;
            li{
                margin: 0 10px 20px;
                margin-right: 7px;
                margin-bottom: 0;
                float: left;
                width: 280px;
                height: 356px;
                border: 1px solid #eee;
                position: relative;
                z-index: 1;
                -webkit-transition: all .2s linear;
                transition: all .2s linear;
                overflow: hidden;
                .avtive{
                    box-shadow: 20px 20pxpx 3px black;
                }
                .good-info{
                    text-align: center;
                    overflow: hidden
                }
                .good-link{
                    img{
                        border: 0;
                        overflow: hidden;
                    }
                    
                    .good-name{
                        font-size: 14px;
                        color: #444;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        line-height: 24px;
                        text-align: center;
                        margin-top: 18px;
                    }
                    .good-pri{
                        line-height: 25px;
                        font-size: 16px;
                        color: #f7545f;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        line-height: 24px;
                        text-align: center;
                    }
                }
                
            }
        }
    }
}


// 底部部分
.footer{
    background: #1b1b1b;
    color: #777;
    font-size: 12px;
    line-height: 24px;
    margin-top: 40px;
    overflow: hidden;
    .footfix{
        width: 1280px;
        margin: 0 auto;
        position: relative;
        border-bottom: 1px solid #606060;
        // color: #777;
        // font-size: 12px;
        // line-height: 24px;
        .footer-dic{
            width: 213px;
            height: 64px;
            position: absolute;
            top: 51px;
            left: 80px;
            color: #a8a8a8;
        }
        .footer-info{
            height: 135px;
            width: 395px;
            font-size: 14px;
            line-height: 30px;
            margin: 50px 0 0 317px;
            border-left: 1px solid #606060;
            border-right: 1px solid #606060;
            float: left;
            overflow: hidden;
            color: #777;
            li{
                width: 118px;
                height: 55px;
                padding: 0 38px;
                float: left;
                a{
                    color: #a8a8a8;
                }
            }
        }

        .footer-code{
            line-height: 62px;
            padding: 50px 0 20px 33px;
            float: left;
            li{
                float: left;
                font-size: 16px;
                color: #fff;
                padding: 0 38px;
                text-align: center; 
            }
        }
    }
}


.footer-fk{
 
        background: #1b1b1b;
        font-size: 12px;
        line-height: 24px;
        padding: 30px 0 40px;
        text-align: center;
        color: #777;
        a{
            color: #777;
        }
}