<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>聚诚品-腾讯官方周边</title>
    <!-- inject:css -->
    <!-- endinject -->
</head>
<body>
    
   <div class="top-bar">
    <div class="top-notice">
        <img id="small2" src="./images/small2.png" alt="">
        <div class="top-fk">
            <ul id="oul" >
                    <li id="li-1">因为热爱所以陪伴<a href="#">,点击查看详情></a></li>
                    <li>qq周边商城欢迎你<a href="#">,点击查看详情></a></li>
                    <li>因为热爱所以陪伴<a href="#">,点击查看详情></a></li>
                    <li>因为热爱所以陪伴<a href="#">,点击查看详情></a></li>
                </ul>
        </div>
    </div>
    <div class="top-info">
        <div class="log-1">
            <!-- log -->
            <div class="small-log"></div>
            <div class="small-log2"></div>
            <!-- 购物车 -->
            <a class="shop-car" href="#">
                <i class="shop-log"></i>
                <span class="shop">购物车</span>
                <div class="shop-con">0</div>
            </a>

           
            <!-- 登录 -->
            <div class="login">
                <a href="#" title="立即登录">立即登录</a>
            </div>
        
             <!-- 所搜 -->
            <div class="search">
                <a class="search-log" href="#" title="搜索"></a>
                <input class="search-in" placeholder="请输入想要找的宝贝">
            </div>  
        </div>      
    </div>
    <div class="top-menu">
        <div class="top-bom">
             <ul>
                <li><a href="#">首页</a></li>
                <li><a href="#">限时折扣</a></li>
                <li><a href="#">聚豆抵扣</a></li>
                <li><a href="#">定制专区</a></li>
                 <li><a href="#">聚发现</a></li>
             </ul>

             <a href="#" class="all-shops" title="全部商品分类">
                 <span>全部商品</span>
                 <i class="all-log"></i>
             </a>
        </div>
        
    </div>
    <div class="top-submenu">
        <div class="mid">
            <ul class="submenu-ul">
                            <li class="submenu-li">
                                    <a class="class-name" href="javascript:;">
                                        <img src="./images/small.png" alt="图标">
                                        <p>服饰鞋帽</p>
                                    </a>
                                    <ul class="class-list">
                                        <li><a href="javascript:;">卫衣/外套</a></li>
                                        <li><a href="javascript:;">T恤</a></li>
                                        <li><a href="javascript:;">裤子</a></li>
                                        <li><a href="javascript:;">鞋子</a></li>
                                        <li><a href="javascript:;">帽子</a></li>
                                        <li><a href="javascript:;">服饰配件</a></li>
                                    </ul>
                                </li>
                                <li class="submenu-li">
                                    <a class="class-name" href="javascript:;">
                                        <img src="./images/small1.png" alt="图标">
                                        <p>服饰鞋帽</p>
                                    </a>
                                    <ul class="class-list">
                                        <li><a href="javascript:;">卫衣/外套</a></li>
                                        <li><a href="javascript:;">T恤</a></li>
                                        <li><a href="javascript:;">裤子</a></li>
                                        <li><a href="javascript:;">鞋子</a></li>
                                        <li><a href="javascript:;">帽子</a></li>
                                        <li><a href="javascript:;">服饰配件</a></li>
                                    </ul>
                                </li>
                                <li class="submenu-li">
                                    <a class="class-name" href="javascript:;">
                                        <img src="./images/small2.png" alt="图标">
                                        <p>服饰鞋帽</p>
                                    </a>
                                    <ul class="class-list">
                                        <li><a href="javascript:;">卫衣/外套</a></li>
                                        <li><a href="javascript:;">T恤</a></li>
                                        <li><a href="javascript:;">裤子</a></li>
                                        <li><a href="javascript:;">鞋子</a></li>
                                        <li><a href="javascript:;">帽子</a></li>
                                        <li><a href="javascript:;">服饰配件</a></li>
                                    </ul>
                                </li>
                                <li class="submenu-li">
                                    <a class="class-name" href="javascript:;">
                                        <img src="./images/small3.png" alt="图标">
                                        <p>服饰鞋帽</p>
                                    </a>
                                    <ul class="class-list">
                                        <li><a href="javascript:;">卫衣/外套</a></li>
                                        <li><a href="javascript:;">T恤</a></li>
                                        <li><a href="javascript:;">裤子</a></li>
                                        <li><a href="javascript:;">鞋子</a></li>
                                        <li><a href="javascript:;">帽子</a></li>
                                        <li><a href="javascript:;">服饰配件</a></li>
                                    </ul>
                                </li>  
                                <li class="submenu-li">
                                        <a class="class-name" href="javascript:;">
                                            <img src="./images/small.png" alt="图标">
                                            <p>服饰鞋帽</p>
                                        </a>
                                        <ul class="class-list">
                                            <li><a href="javascript:;">卫衣/外套</a></li>
                                            <li><a href="javascript:;">T恤</a></li>
                                            <li><a href="javascript:;">裤子</a></li>
                                            <li><a href="javascript:;">鞋子</a></li>
                                            <li><a href="javascript:;">帽子</a></li>
                                            <li><a href="javascript:;">服饰配件</a></li>
                                        </ul>
                                    </li>
                                    <li class="submenu-li">
                                            <a class="class-name" href="javascript:;">
                                                <img src="./images/small2.png" alt="图标">
                                                <p>服饰鞋帽</p>
                                            </a>
                                            <ul class="class-list">
                                                <li><a href="javascript:;">卫衣/外套</a></li>
                                                <li><a href="javascript:;">T恤</a></li>
                                                <li><a href="javascript:;">裤子</a></li>
                                                <li><a href="javascript:;">鞋子</a></li>
                                                <li><a href="javascript:;">帽子</a></li>
                                                <li><a href="javascript:;">服饰配件</a></li>
                                            </ul>
                                        </li>
                                        <li class="submenu-li">
                                                <a class="class-name" href="javascript:;">
                                                    <img src="./images/small1.png" alt="图标">
                                                    <p>服饰鞋帽</p>
                                                </a>
                                                <ul class="class-list">
                                                    <li><a href="javascript:;">卫衣/外套</a></li>
                                                    <li><a href="javascript:;">T恤</a></li>
                                                    <li><a href="javascript:;">裤子</a></li>
                                                    <li><a href="javascript:;">鞋子</a></li>
                                                    <li><a href="javascript:;">帽子</a></li>
                                                    <li><a href="javascript:;">服饰配件</a></li>
                                                </ul>
                                            </li>
                                            <li class="submenu-li">
                                                    <a class="class-name" href="javascript:;">
                                                        <img src="./images/small3.png" alt="图标">
                                                        <p>服饰鞋帽</p>
                                                    </a>
                                                    <ul class="class-list">
                                                        <li><a href="javascript:;">卫衣/外套</a></li>
                                                        <li><a href="javascript:;">T恤</a></li>
                                                        <li><a href="javascript:;">裤子</a></li>
                                                        <li><a href="javascript:;">鞋子</a></li>
                                                        <li><a href="javascript:;">帽子</a></li>
                                                        <li><a href="javascript:;">服饰配件</a></li>
                                                    </ul>
                                                </li>                                        
            </ul>
        </div>
    </div>
   </div>

  
   <div class="bann">
        <div id="flash" class="slidebann">
                    <a href="javascript:;" id="flash1" style="display:block;" target="_blank">
                        <img src="./images/banner0.jpg"  width="1920" height="520" alt="广告图"/>
                    </a>
                    <a href="javascript:;" id="flash2" target="_blank">
                        <img src="./images/banner3.jpg"  width="1920" height="520" alt="广告图"/>
                    </a>
                    <a href="javascript:;" id="flash3" target="_blank">
                        <img src="./images/banner4.jpg"  width="1920" height="520" alt="广告图"/>
                    </a>
                    <a href="javascript:;" id="flash3" target="_blank">
                            <img src="./images/banner5.jpg"  width="1920" height="520" alt="广告图"/>
                    </a>
                    <ol class="oul" style="z-index: 10;">
                            <li class="current">1</li>
                            <li>2</li>
                            <li>3</li>
                            <li>4</li>
                            <li>5</li>
                            <li>6</li>
                        </ol>
            
        </div>
    </div>











    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
     <!-- inject:js -->
     <!-- endinject -->
</body>
</html>