
// 登录注册
.mask{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 9999 ;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    //display: none;
    .load{
        width: 600px;
        height: 500px;
        background: #fff;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        z-index: 99999 ;
        #form-in{
            position: relative;
            top: 30px;
            left: 100px;
            font-size: 22px;
            color: black;
            line-height: 60px;
            input{
                width: 200px;
                height: 22px;
                outline: none;
            }
            

        }
    }
}
