
// 登录注册
.mask{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 9999 ;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    //display: none;
    .load{
        width: 600px;
        height: 550px;
        background:gray;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        z-index: 99999 ;
       display: none;
        form{
            position: relative;
            left: 80px;
            input{
                height: 40px;
                width: 320px;
            }
            #inp1{
                width: 170px;
            }
            #yz{
                position: absolute;
                right: 160px;
                color: red;
            }
            
            #inp2{
                font-size: 18px;
                color: red;
            }
            #tel{
                width: 200px;
            }
        }
    }
    .denglu{
        width: 600px;
        height: 550px;
        background:gray;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        z-index: 999999 ;
        form{
            position: relative;
            left: 80px;
            input{
                height: 40px;
                width: 320px;
            }
            #yzm222{
                width: 170px;
            }
            #yz2{
                position: absolute;
                right: 217px;
            }
            #btn22{
                font-size: 18px;
                position: absolute;
                right: 160px;
                top: 405px;
            }
        }

    }
}
